<html>
    <head>
        <title> Rafa's Portfolio </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body class="bg-dark text-info">
        
        <div class="m-5 p-lg-5"></div>
    
        <div class="m-5 ps-lg-5 row">
            <div class="col-sm-6">
            <h1 class="fw-light text-end pe-4">AGUILERA RAFAEL</h1> 
            <h3 class="fw-light text-end pe-4 text-warning">Software Developer</h3>
            <img src=".\icons.png" class="ms-5 pt-5 rounded float-start" alt="icons"/>
            <form action="/contact" method="get">
                <div class="mx-auto" style="width: 150px;"> 
            <button class="mt-5 p-2 btn btn-info text-dark fw-bold">Contact Me</button></div></form>
        </div>
            <div class="col-sm-1">
            <img src=".\avatar400.png" class="rounded float-start" alt="avatar"/>  
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>