<html>
    <head>
        <title>Rafa Thanks You</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body class="bg-dark text-info">
        <div>
            <h3 class="ps-4 mt-3 fst-italic fw-lighter">Thank you <%=firstName%> <%=lastName%>.</h3>
        </div>
        <form action="/" method="get">  
        <button class="ms-5 mt-2 p-2 btn btn-info text-dark fw-bold">Back</button></form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>